
<mat-card class="cv-card">
    <mat-card-header>
        <mat-card-subtitle [ngClass]="(this.show) ? 'hide-info' : 'show-info'">Click on each experiencie to see more info</mat-card-subtitle>
    </mat-card-header>
    <div class="container">
        <div class="steps-timeline" >

            <div class="step" *ngFor="let exp of expArr; let i = index" [attr.data-index]="i" (mouseenter)="showchips()" 
            (mouseleave)="showchips()">
              <div class="step-milestone" 
              (click)='handleClick($event, i)'></div>
              <span class="step-title">
                  {{exp.Fecha_Init}} <br>  {{exp.Company}}
              </span>
              <p class="step-description">{{exp.Desc}}</p>
              
              <div [ngClass]="(this.show) ? 'chip-container' : 'chip-container  active'" >
                <mat-chip-list *ngFor="let tech of exp.Tech_used" aria-orientation="vertical"  class="chip-vertical"> 
                        <mat-chip>{{tech.Nombre}}</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>  
    </div>
   
</mat-card>