
<mat-card class="cv-card">
    <mat-card-header>
        <mat-card-subtitle [ngClass]="(this.show) ? 'hide-info' : 'show-info'">Click on each experiencie to see more info</mat-card-subtitle>
    </mat-card-header>
    <div class="container">
        <div class="steps-timeline" >

            <div class="step" *ngFor="let exp of expArr; let i = index" [attr.data-index]="i" (mouseenter)="showchips()" 
            (mouseleave)="showchips()">
              <div class="step-milestone" 
              (click)='handleClick($event, i)'></div>
              <span class="step-title date">
                    {{exp.Fecha_Init | amLocale:'en' | amDateFormat:'MMMM YYYY'}}  to {{exp.Fecha_End | amLocale:'en' | amDateFormat:'MMMM YYYY'}} 
            </span>
              <span class="step-title">
                    
                   {{exp.Company}}
              </span>
              <p class="step-description">{{exp.Desc}}</p>
             
            </div>
          </div>  
    </div>
   
</mat-card>