
<mat-card>
  <mat-card-content>
    Projects
  </mat-card-content>
</mat-card>
<div *ngFor="let project of listProjects | async">
  <mat-card class="project-card">
    <mat-card-header>
      <img mat-card-avatar class="project-header-image" src="{{project.Logo || 'https://via.placeholder.com/350x350'}}"/>
      <mat-card-title>{{project.Name}}</mat-card-title>
      <mat-card-subtitle>{{project.Rol}}</mat-card-subtitle>
    </mat-card-header>
     <mat-card-content>
      <p>
        {{project.Description}}
      </p>
      <div *ngIf="!!project.Links">
          <h4>Project links</h4>
          <div *ngFor="let links of project.Links" class="link">
             <a href="{{links.link}}">{{links.link}}</a>
          </div>
      </div>
      
    </mat-card-content>
  </mat-card>
</div>
