<div *ngFor="let cv of cvObservable | async">
    <mat-card class="cv-card">
        <mat-card-header class="header-cv">
            <div mat-card-avatar class="cv-header-image"></div>
        <div>
            <mat-card-title>{{cv.name}} {{cv.surnames}}</mat-card-title>
            <mat-card-subtitle>Born {{cv.bornDate | amTimeAgo}}</mat-card-subtitle>
            <div class="conecting-container">
                    <mat-card-subtitle class="phone"><a href="tel:{{cv.phone}}"><mat-icon>phone</mat-icon></a> </mat-card-subtitle>
                    <mat-card-subtitle class="email"><a href="mailto:{{cv.email}}"><mat-icon>email</mat-icon></a> </mat-card-subtitle>
                    <mat-card-subtitle class="linkedin"> <a href="{{cv.linkedin}}" target="_blank"><svg height="24" width="24" viewBox="0 50 512 512" >
                        <path fill="#0073b1" d="M150.65,100.682c0,27.992-22.508,50.683-50.273,50.683c-27.765,0-50.273-22.691-50.273-50.683
                        C50.104,72.691,72.612,50,100.377,50C128.143,50,150.65,72.691,150.65,100.682z M143.294,187.333H58.277V462h85.017V187.333z
                        M279.195,187.333h-81.541V462h81.541c0,0,0-101.877,0-144.181c0-38.624,17.779-61.615,51.807-61.615
                        c31.268,0,46.289,22.071,46.289,61.615c0,39.545,0,144.181,0,144.181h84.605c0,0,0-100.344,0-173.915
                        s-41.689-109.131-99.934-109.131s-82.768,45.369-82.768,45.369V187.333z"/>
                      </svg></a></mat-card-subtitle>
                    <mat-card-subtitle class="github"> <a href="{{cv.github}}" target="_blank"><svg height="24" class="octicon octicon-mark-github" viewBox="0 0 16 16"
                         version="1.1" width="24" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38
                          0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87
                           2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 
                           1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0
                            .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg></a></mat-card-subtitle>
                 </div>
        </div>
            
        </mat-card-header>
        
    </mat-card>
    
    <mat-card class="cv-card">
        <h3>Experiencies </h3>
        <app-timeline [expArr]="cv.exp"></app-timeline>
    </mat-card>

    <mat-card class="cv-card">
        <h3>Skills </h3>
        <mat-card-content class="skills-grid">
            <div *ngFor="let skills of cv.skills">
                <span>{{skills.name}}</span>
                <mat-progress-bar mode="determinate" class="mycolor" value={{skills.value}}></mat-progress-bar>
            </div>
        </mat-card-content>
    </mat-card>

</div>