
.cv-card {
    max-width: 100%;
  
  }
  .header-cv {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: start;
      justify-content: center;
  }
  
  .mat-card-avatar {
    height: 7em;
    width: 7em;
    box-shadow: 3px 3px 1px 1px #888888;
    border-radius: 50%;
    border: rgba(0,0,0,.38) 1px solid;
    flex-shrink: 0;
}
  .cv-header-image {
     background-size: cover;
     background-image: url('../../assets/me_photo.jpg');
  }
  .skills-grid{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    div{
      padding: 10px
    }	
  }
  @media screen and (max-width: 678px) {
    .skills-grid{
      grid-template-columns: 50% 50%;
    }
    .cv-card {
    max-width: 100%;
    
  }
  
  }
  .conecting-container{
    display: flex;
    align-items: baseline;
    align-self: center;
    mat-card-subtitle{
      :first-child{
        padding: 0 10px 0 0;
      }
      a{
        text-decoration: none;
        
      }
      a, a:visited, a:hover, a:active {
        color: inherit;
      }
    }
     .email{
      justify-content: center;
      .material-icons{
        color: rgb(187, 80, 80);
      } 
    }
     .phone{
      justify-content: center;
      .material-icons{
        color:  rgb(96, 170, 90);
      } 
    }
    .linkedin{
      justify-content: center;
      .material-icons{
        color: #0077b5;
      } 
    }

  }
  